

body
{
    overflow: auto;
}

hr{
opacity: 0.3;
    margin-left:10px;
    margin-right:10px;
}
small {color:#4d4d4d}

/*.wowwindow-controlbar
{
    background-color: #630f0f;
        color:#FFFFFF;
}*/
.logo{
    display:block; padding-right:7px; float:left;
    width:15px;
        height:10px;
        margin-top: 5px;
}
.ref{
    width:20px;
        height:15px;
        margin-top:6px;
}
.post{
      margin-top: 3px;
      font-weight: normal;
background-color:#FFFFFF; 
font-family:"Times New Roman", Times, serif;
padding: 10px 10px 10px 10px;
font-size:14px;
color:#3c3c3c;
    height:auto;
   /*  background:-webkit-gradient(radial, -36 0, 0, 244 -114, 681, from(#D6D5FF), to(#FFFFFF));*/
    /*   background:-webkit-gradient(linear, 100% 31%, 21% 36%, from(#EDEEFF), to(#7F7DFF));*/
border:solid 2px #e3e3e3;
       font-weight: bold;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
margin-left: auto ;
  margin-right: auto ;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #999999;
                        border:solid 1px #666666;


}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #999999;

}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
        border:solid 1px #630f0f;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
}

.title
{

    -moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
     background-color:#FFFFFF;
 color:#630f0f;
 
}

.titlehome
{

margin:5px 5px;
padding:10px 10px;
font-size: 18px;
     background-color:#FFFFFF;
 color:#630f0f;
margin-top: 10px
}
.titlehome p
{
    font-size: 15px;
    color: #333333;
        margin-bottom:-10px;
}
.titlehome:hover {
background-color:#003f69;
border-top:dashed 1px #FFFFFF;
border-bottom:dashed 1px #FFFFFF;
color:#c69c80;

}
.titlehome a:visited
{
    background-color: #88b1b2;
}
.titlehome:hover p{
    color:#FFFFFF;
    
}
.titlehome:hover small{
    color:#FFFFFF;   
}
.titlehome:hover hr{
    opacity:1;
}
.titlehome:hover a{
   background-color: #ffffff;
  
}
.titlehome:hover a:hover{
   color: #0f3863;
   background-color: #b29d88;
}
.titlehome a
{
    text-align: center;
    font-size: 13px;
    max-width:130px;
    width:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
-moz-border-radius-topleft: 75px;
-moz-border-radius-topright:75px;
-moz-border-radius-bottomleft:75px;
-moz-border-radius-bottomright:75px;
-webkit-border-top-left-radius:75px;
-webkit-border-top-right-radius:12px;
-webkit-border-bottom-left-radius:75px;
-webkit-border-bottom-right-radius:75px;
border-top-left-radius:75px;
border-top-right-radius:75px;
border-bottom-left-radius:75px;
border-bottom-right-radius:75px;
}
a:link {color:  #630f0f; text-decoration: none; }
a:active {color: #0000ff; text-decoration: none; }

a:visited {color:  #000000; text-decoration: none; }
a:hover {
    color: #0a6d70; text-decoration: none; 
}
.post>.title
{
text-transform: none; clip: rect(auto auto auto auto);   
font-weight:900;
    font-size:17px;

}
.post.description
{
    position: relative;

    display:none;
    opacity:10;
    font-weight:normal;
}

.post:hover{
   /* background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#AAA9FF), to(#C7C5FF));*/
  transform: rotate(0deg) scale(1.03)  translate(0px);
-webkit-transform: rotate(0deg) scale(1.03)  translate(0px);
-moz-transform: rotate(0deg) scale(1.03)  translate(0px);
-o-transform: rotate(0deg) scale(1.03)  translate(0px);
-ms-transform: rotate(0deg) scale(1.03)  translate(0px);
-moz-box-shadow: 0px 0px 75px #b01717;
-webkit-box-shadow: 0px 0px 75px #FFFFFF;
box-shadow: 0px 0px 75px #FFFFFF;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  background-color:#999999; 
}
.post:hover .title
{
      background-color:#999999; 
      color:#FFFFFF;

}
em{
    margin-left: 5px;
}
.post:hover small
{
}
.post:hover>p a
{
    color:#b01717;
  font-size:15px;  
}
#postfather{
   /* background-color:#b01717;*/
   font-family:"Times New Roman",Georgia,Serif;
   
   margin: 10px 10px 10px 10px;
font-size:15px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
#postfatherhome{
   /* background-color:#b01717;*/
   font-family:"Times New Roman",Georgia,Serif;
   margin-left:auto; 
   margin-right:auto; 
   background-color:#bfd5e2; 
   max-width:500px;
   min-width:200px;
font-size:15px;
border-right:dashed 1px #000000;
border-left:dashed 1px #000000;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
padding-top:5px;
padding-bottom:5px;
margin-top: 20px;
}