    .voteupimg
    {
        width:30px; height:30px; opacity:0.2;  float:right; margin-top:5px; margin-right:8px;  
        
    }
    
     .voteupdiv
    {
        font-weight: bold;
        width:30px; height:30px;     float: right;  margin-top:12px; margin-right:30px;  color:#993333;

    }
    .voteupimg:hover
    {
        opacity:1;
    }
    hr
    {
        background-color: #993333;
        opacity:0.5;
    }
    .username
    { float:left;
        width:225px;
        font-weight:bold;
        color:#993333;
    }
    .avatar
    {

        float:left; 
        border:2px solid #993333; 
        width:130px; 
        height:130px;
        float:left;
        margin-right:10px;
        opacity:0.05
    }
    i
    {
        opacity:0.7;
        
    }
    #analysisdiclvl1{
    border:solid 2px #257272;
    margin-top: 20px;
}
#analysisdiclvl2{
    
     background-color: #99cccc; 
     font-size:30px; 
     border-bottom:solid 2px #257272; 
     font-weight:bold; 
     color:#257272;  
     padding: 5px 20px 5px 20px; 
     margin-bottom:-1px;   
     
     display:block; 
     text-align:center
}
.mainanchor
{
    text-decoration:none
}
