body
{
    background-color: #eee;
}
.upper-description
{
border:solid 1px #993333;    
}
.container
        {
            margin-top:40px;
        }
       .title, .flag, .date
       {
           background-color: #fff;
           font-weight:bold;
           font-size:15px;
           color:#333;
           height:23px;
       }
         
      .description
      {
          margin-top: 12px;
          background-color: #fff;
          color:#333;
      }
       
   
       .col-xs-12
       {
           min-width: 650px;
       }
        .container-well
        {
            
           border-color: #993333;
            min-width: 850px;
        }
      
        img{
            border:solid 5px #fff;
        }
        .main-row{
            /*height:200px;*/
        }
        .col-lg-12{
        }
    
