            body
            {
                background-color: #eee;
            }
            #changepassword
            {
                border-radius: 10px;
                border:solid 8px #993333;
                color:#333;
                padding:20px;
                background-color: #fff;
                 margin-right:auto;
                 margin-left:auto;
                 margin-top: 150px;
                width:500px
            }
            label
            {
               display:block;
               margin-bottom: 10px;
                margin-left: 30px;
            }
            input
            {
                
                border-radius:5px;
                width:150px
            }
            .texti{
                display:inline-block;
                width:250px;
               
            }
            
            #sb
            {
                font-size: 14px;
                background-color: #993333;
                color: #fff;
                width:100px;
                margin-right:68px;
                float:right;
            }
             ul.parsley-error-list
            { color:red;
                font-size: 12px;
                margin: 2px;
                margin-right: 70px;
                text-align: right;
                list-style-type:none;
            }
 
            ul.parsley-error-list li
            {
                line-height: 11px;
            }
 
            /* just pushing the button over to the middle */
            button[type=submit]
            {
                margin: 15px 0px 0px 160px;}
            input.parsley-error
            {
              color: #B94A48 !important;
              background-color: #F2DEDE !important;
              border: 1px solid #EED3D7 !important;
            }